*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
}

.leaflet-container {
  height: 800px;
  width: auto;
}

#root {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


#data {
  display: grid;
  grid-template-columns: (3, 1fr);
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

#map {
  width: 890px;
  height: 700px;
  grid-column: 2/ span 2;
}

#view {
  overflow-y: scroll;
  height: 640px;
}

#data p {
  width: 300px;
  padding-bottom: 30px;
}

#data p:nth-child(even) {
  background-color: rgb(165, 165, 165);
}

input {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border: solid 2px rgb(165, 165, 165);
  font-family: "Open Sans";
  font-size: 20px;
  text-indent: 5px;
  color: #000;
}
