* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
}

.leaflet-container {
  height: 800px;
  width: auto;
}

#root {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#data {
  display: grid;
  grid-template-columns: (3, 1fr);
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

#map {
  width: 890px;
  height: 700px;
  grid-column: 2 / span 2;
  position: relative;
}

#view {
  overflow-y: scroll;
  height: 580px;
}

#data p {
  width: 300px;
  padding: 10px 0;
  border-bottom: solid 3px  #09a319;
}

/* #data p:nth-child(even) {
  background-color: rgb(165, 165, 165);
} */

#search {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  border: solid 2px #000;
  font-family: "Open Sans";
  font-size: 20px;
  text-indent: 5px;
  border-radius: 10px;
  color: #000;
}

#trigger {
  position: absolute;
  top: 100px;
  left: 15px;
  padding: 10px;
  z-index: 400;
}

.reset-btn {
  border: solid 2px #000;
  background-color: #fff;
  color: #000;
  padding: 14px 20px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.refresh-btn {
  background-color: #09a319;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.set-btn {
  background-color: #09a319;
  color: white;
  padding: 10px 11px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.refresh-btn:hover {
  background-color: green;
}

.set-btn:hover {
  background-color: green;
}

.reset-btn:hover {
  border-color: #09a319;
  color: #09a319;
}